label#status {
    border-radius: 3px;
    border-width: 1px;
    padding: 3px 6px;
    font-size: 10px;
    line-height: 1.5;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
}

label.active {
    background-color: #11bc73;
    color: white;
}

label.noActive {
    background-color: #FF0000;
    color: white;
}

label.levels {
    background-color: #3b6eff;
    color: white;
}

label.no-levels {
    background-color: #333333;
    color: white;
}

.swal2-popup {
    font-size: 0.65rem !important;
}

.select2-selection {
    height: calc(1.6em + 0.75rem + 2px) !important;
    padding: 0.375rem 0.75rem;
    color: #495057 !important;
    background-color: #fff;
    border: 1px solid #ced4da !important;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.select2-selection__arrow {
    height: calc(1.6em + 0.75rem + 2px) !important;
}

.result-content {
    max-height: 68vh;
    overflow-y: auto;
}

#videoList tbody {
    border: 1px solid #EAEAEA;
}

#videoList tr:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

#videoList .checked {
    background: #DDD;
}

.thumbList {
    width: 80px;
    height: 50px;
    border: 1px solid #d9d9d9;
    overflow: hidden;
    object-fit: cover;
}

#html5-watermark {
    display: none !important;
}
